{%extends 'base.html'%}
{% block css %}
<link rel="stylesheet" 
href="{{ url_for('static', filename='css/ver-productos.css') }}">
{% endblock %}
{% block content %}
<div class="products-table">
<table id="tablaProductos">
    <tr>
        <th> Tipo</th>
        <th> Producto(s)</th>
        <th> Región</th>
        <th> Comuna</th>
        <th> Fotos</th>     
    </tr>
    <tr>
        <td> Verdura </td>
        <td> Apio</td>
        <td> Región Metropolitana </td>
        <td> Providencia </td>
        <td> <img src="../../media/small/apio_small.png" alt="Foto Producto"> </td>
    </tr>
    <tr>
        <td> Verdura </td>
        <td> Tomate</td>
        <td> Región Metropolitana </td>
        <td> Providencia </td>
        <td> <img src="../../media/small/tomate_small.png" alt="Foto Producto"> </td>
    </tr>
    <tr>
        <td> Verdura </td>
        <td> Lechuga</td>
        <td> Región Metropolitana </td>
        <td> Providencia </td>
        <td> <img src="../../media/small/lechuga_small.png" alt="Foto Producto"> </td>
    </tr>
    <tr>
        <td> Fruta </td>
        <td> Manzana</td>
        <td> Región Metropolitana </td>
        <td> Providencia </td>
        <td> <img src="../../media/small/manzana_small.png" alt="Foto Producto"> </td>
    </tr>
    <tr>
        <td> Fruta </td>
        <td> Durazno</td>
        <td> Región Metropolitana </td>
        <td> Providencia </td>
        <td> <img src="../../media/small/durazno_small.png" alt="Foto Producto"> </td>
    </tr>
</table>
</div>
{% endblock content %}
{% block javascript %}
    <script lang="javascript" src="{{ url_for('static', filename='js/ver-productos.js') }}"></script>
{% endblock %}