{%extends 'base.html'%}
{% block css %}
<link rel="stylesheet" 
href="{{ url_for('static', filename='css/ver-productos.css') }}">
{% endblock %}
{% block content %}
<div class="products-table">
<h1>Listado de productos</h1>
<table id="tablaProductos">
    <tr>
        <th> Tipo</th>
        <th> Producto(s)</th>
        <th> Región</th>
        <th> Comuna</th>
        <th> Fotos</th>     
    </tr>
    {% for fila in filas %}
    <tr id="{{ fila.id }}">
        <td> {{ fila.tipo }} </td>
        <td> {{ fila.productos }} </td>
        <td> {{ fila.region }} </td>
        <td> {{ fila.comuna }} </td>
        <td id = "{{ fila.foto_nombre }}"  > <img src="{{ url_for('static', filename= fila.foto) }}" alt="Foto Producto"> </td>
    </tr>
    {% endfor %}
</table>
</div>
<div class="pagination">
    {% if filas %}
        <p>Página {{ page }}</p>
        <div class="pagination-buttons">
            {% if prev_url %}
            <a href="{{ prev_url }}">Anterior</a>
            {% endif %}

            {% if next_url %}
            <a href="{{ next_url }}">Siguiente</a>
            {% endif %}
        </div>
    {% endif %}
</div>
{% endblock content %}
{% block javascript %}
    <script>
    const filas = document.getElementById('tablaProductos').getElementsByTagName('tr');

    for (let i = 0; i < filas.length; i++) {
        let fila = filas[i];
        fila.addEventListener('click', function() {
            let idProducto = this.id;
            let tipo = this.cells[0].innerText;
            let productos = this.cells[1].innerText;
            let region = this.cells[2].innerText;
            let comuna = this.cells[3].innerText;
            let foto = this.cells[4].id;
            window.location.href = '/informacion-producto?id=' + idProducto + '&tipo=' + tipo + 
            '&productos=' + productos + '&region=' + region + '&comuna=' + comuna + '&foto=' + foto;
        });
    }
    
    </script>
{% endblock %}