{%extends 'base.html'%}
{% block css %}
<link rel="stylesheet" 
href="{{ url_for('static', filename='css/ver-productos.css') }}">
{% endblock %}
{% block content %}
<div class="products-table">
<table id="tablaProductos">
    <tr>
        <th> Tipo</th>
        <th> Producto(s)</th>
        <th> Región</th>
        <th> Comuna</th>
        <th> Fotos</th>     
    </tr>
    {% for fila in filas %}
    <tr>
        <td> {{ fila.tipo }} </td>
        <td> {{ fila.productos }} </td>
        <td> {{ fila.region }} </td>
        <td> {{ fila.comuna }} </td>
        <td> <img src="{{ url_for('static', filename= fila.foto) }}" alt="Foto Producto"> </td>
    </tr>
    {% endfor %}
</table>
</div>
{% if prev_url %}
<a href="{{ prev_url }}">Anterior</a>
{% endif %}
{% if next_url %}
<a href="{{ next_url }}">Siguiente</a>
{% endif %}
{% endblock content %}
{% block javascript %}
    <script lang="javascript" src="{{ url_for('static', filename='js/ver-productos.js') }}"></script>
{% endblock %}