{% extends 'base.html' %}
{% block css %}
 <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Por favor selecciona una opción:</h1>
        <ul class="menu">
            <li><a href="{{ url_for('agregar_producto') }}">Agregar producto</a></li>
            <li><a href="{{ url_for('ver_productos') }}">Ver productos</a></li>
            <li><a href="{{ url_for('agregar_pedido') }}">Agregar pedido</a></li>
            <li><a href="{{ url_for('ver_pedidos') }}">Ver pedidos</a></li>
        </ul>
    </div>
{% endblock %}


