<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FrutiVerde Online</title>
    {% block css %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <img id="logo-id" 
        src="{{ url_for('static', filename='svg/fruit-basket-icon.svg') }}" 
        alt="Logo">
        <h1>FrutiVerde Online</h1>
        <div>
            <a class="navbar-page" href="{{ url_for('index') }}">Inicio</a>
            {% block extras_navbar %} {% endblock %}
        </div>
    </div>
<section class="main-container">
    {% block content %}{% endblock %}   
    {% block javascript %}{% endblock %}
</section>    
</body>
</html>
