{% extends 'base.html' %}
{% block css %}
 <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="confirmation-message">{{ messages[0] }}</div>
  {% endif %}
{% endwith %}
    <div class="container">
        <h2> Selecciona el gráfico que desees 🌿</h2>
        <ul class="menu">
            <li><a href="{{ url_for('grafico_productos') }}"> Productos por Fruta/Verdura </a></li>
            <li><a href="{{ url_for('grafico_pedidos') }}"> Pedidos por Comuna </a></li>
        </ul>
    </div>
{% endblock %}


