{%extends 'base.html'%}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/informacion-pedido.css') }}">
{% endblock %}
{% block extras_navbar %}
    <a class="navbar-page" href="{{ url_for('ver_pedidos') }}">Listado Pedidos</a>
{% endblock %}
{% block content %}
    <div class="order-container">
        <h2>Información Pedido</h2>
        {% if data %}
            <table>   
                <tr>
                    <th> Tipo</th>
                    <th> Pedido</th>
                    <th> Descripción</th>
                    <th> Región</th>
                    <th> Comuna</th>
                    <th> Nombre Pedido</th>
                    <th> Email Pedido</th>
                    <th> Teléfono Pedido</th>
                     
                </tr>
                <tr>
                    <td> {{data.tipo}} </td>
                    <td> {{data.pedidos}} </td>
                    <td> {{data.descripcion}} </td>
                    <td> {{data.region}} </td>
                    <td> {{data.comuna}} </td>
                    <td> {{data.nombre}} </td>
                    <td> {{data.email}} </td>
                    <td> {{data.celular}} </td>
                </tr>
            </table>
        {% endif %}
    </div>    
{% endblock content %}


